/*
	Use the :before psudeo on the body tag to use the content property as a keyword.
	The keyword is then used by the script.js to determine the media query.
*/

body:before {
	content: "desktop";
	display: none;
}

@media (max-width: 1023px) {
	body:before {
		content: "768";
	}
}

@media (max-width: 767px) {
	body:before {
		content: "640";
	}
}

@media (max-width: 639px) {
	body:before {
		content: "480";
	}
}

@media (max-width: 479px) {
	body:before {
		content: "320";
	}
}
